html{
    overflow-x:hidden;
}

main, body{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none !important;
}


.content{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-image: url("../assets/galaxy-bg.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    font-family: sans-serif;
    font-size: 1rem; 
}

.center-frame{
    padding: clamp(2rem, 8%, 5rem);
    background-color: hsl(260 20% 6% / 0.4);
}

.crystal-panel{
    margin: 0.5rem;
    padding: clamp(1rem, 5%, 3rem);
    border-radius: 1.375rem;
    background-color: hsla(260 20% 8% / 0.6);
    border: 1px solid hsla(270 40% 40% / 0.3);
    color: white;
    backdrop-filter: blur(16px);
    box-shadow: inset 0 1px #9970c21a,0 0 40px hsla(270 80% 65% / 0.15);
}

.panel-card {
    height: fit-content;
    width: clamp(40vw, 80%, 90vw);
}

.color-primary{
    color: hsl(270, 40%, 40%);
}

.sub{
    margin-top: 1em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vh, 2rem);
    line-height: 1.25rem;
}

.animate-pulse-glow{
    animation: pulse-glow 3s ease-in-out infinite;
}

@keyframes pulse-glow {
    0%, 100% {
        opacity: .7;
    }
    50% {
        opacity: 1;
    }
}

.color-muted{
    color: hsl(260 15% 55%);
}

.hover-primary{
    transition: all .3s ease;
}

.hover-primary:hover{
    background: #331f4799;
    border-color: hsl(280, 29%, 48%);
    box-shadow: 0 0 30px #a65eed4d;
    transform: translateY(-2px);
}

input {
    background-color: hsl(258, 33%, 12%);
    border: 2px solid hsl(261, 37%, 24%);
    border-radius: 0.25rem; 
    color: white;
    padding: 0.5rem; 
    transition: all 0.3s ease;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    background: #331f4799;
    border-color: hsl(280, 29%, 48%);
    box-shadow: 0 0 30px #a65eed4d;
    transform: translateY(-1px);
}

.btn-highlight {
    background-color: hsla(263, 20%, 8%, 0.671);
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    border: 2px solid hsl(261, 37%, 24%);
}

.h-container {
    padding: 1.25rem; 
    background-color: hsla(263, 20%, 8%, 0.671);
    border-radius: 0.5rem;
    border: 1px solid #0c0810ca;
    box-shadow: inset 0 0 10px #000000;
}