{% extends "base.html" %}

{% block content %}
<div class="center-frame d-flex flex-row w-100">
    <!--Cuadro con descripcion del proyecto -->
    <div class="d-flex flex-wrap w-50 h-100 flex-column align-content-center justify-content-center">
        <div class="d-flex flex-column crystal-panel panel-card">
            <p class="color-primary sub mb-3 animate-pulse-glow">Logica y estructuras discretas</p>
            <h1 style="font-size: 3.5rem; line-height:1; font-weight:700;">
                Proyecto integrador<br>
            </h1>
            <p class="color-muted fs-5 mt-3">
                Proyecto a realizarse a lo laro del semestre para poner en práctica lo aprendido durante el semestre
            </p>
            <p class="fs-5 color-muted"><span class="color-primary">Da click</span> en alguno de los botones para acceder a las diferentes secciones del proyecto!</p>
            <h3 class="color-primary sub fs-5">Integrantes</h3>
            <p class="color-muted fw-normal">
                Daira Guadalupe Murillo Garcia<br>Lucio Alejandro Nuñez Nuñez<br>Fernando Gonzalez Ruiz
            </p>
        </div>
    </div>

    <div class="d-flex flex-wrap w-50 h-100 flex-column align-content-center justify-content-center"> <!--Cuadro con los 3 botones de cada seccion -->
        
        <a class="crystal-panel hover-primary p-4" href="/Tablas"> <!--Boton para ir a la seccion de validador de argumentos con tablas de vdd-->
            <div class="d-flex flex-row">
                <div class="d-flex align-items-center justify-content-center me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16"> <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/></svg>
                </div>
                <div class=" justify-content-center align-items-center">
                    <h1 class="fs-3 lh-1 fw-bold">Validador de argumentos logicos</h1>
                    <p class="color-muted m-0">Genera tablas de verdad y valida argumentos con diferentes metodos a partir de premisas y conclusiones</p>
                </div>
            </div>
        </a>

        <a class="crystal-panel hover-primary p-4" href="/Conjuntos"> <!--boton para lo que siga-->
            <div class="d-flex flex-row">
                <div class="d-flex align-items-center justify-content-center me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16"><path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"/></svg>
                </div>
                <div class=" justify-content-center align-items-center">
                    <h1 class="fs-3 lh-1 fw-bold">Calculadora de Teoria de Conjuntos</h1>
                    <p class="color-muted m-0">Realiza operaciones entre conjuntos y visualiza los resultados de forma grafica</p>
                </div>
            </div>
        </a>

        <a class="crystal-panel hover-primary p-4" href="/Sucesiones"> <!--boton para lo que siga-->
            <div class="d-flex flex-row">
                <div class="d-flex align-items-center justify-content-center me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-123" viewBox="0 0 16 16"><path d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75z"/></svg>
                </div>
                <div class=" justify-content-center align-items-center">
                    <h1 class="fs-3 lh-1 fw-bold">Calculadora de Sucesiones</h1>
                    <p class="color-muted m-0">Realiza operaciones con sucesiones</p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock content %}