{% extends "base.html" %}

{% block content %}
<div class="center-frame d-flex flex-row w-100">
    <div class="d-flex flex-wrap w-50 h-100 flex-column align-content-center justify-content-center">
        <div class="d-flex flex-column crystal-panel panel-card">
            <p class="color-primary sub mb-3 animate-pulse-glow">Logica y estructuras discretas</p>
            <h1 style="font-size: 3.5rem; line-height:1; font-weight:700;">
                Proyecto integrador<br>
            </h1>
            <p class="color-muted fs-5 mt-3">
                Proyecto a realizarse a lo laro del semestre para poner en práctica lo aprendido durante el semestre
            </p>
            <p class="fs-5 color-muted"><span class="color-primary">Da click</span> en alguno de los botones para acceder a las diferentes secciones del proyecto!</p>
            <h3 class="color-primary sub fs-5">Integrantes</h3>
            <p class="color-muted fw-normal">
                Daira Guadalupe Murillo Garcia<br>Lucio Alejandro Nuñez Nuñez<br>Fernando Gonzalez Ruiz
            </p>
        </div>
    </div>
    <div class="d-flex flex-wrap w-50 h-100 flex-column align-content-center justify-content-center">
        <a class="crystal-panel hover-primary p-4" href="/Tablas">
            <div class="d-flex flex-row">
                <div class="d-flex align-items-center justify-content-center me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16"> <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/></svg>
                </div>
                <div class=" justify-content-center align-items-center">
                    <h1 class="fs-3 lh-1 fw-bold">Generador de tablas de verdad</h1>
                    <p class="color-muted m-0">Genera tablas de verdad y valida argumentos con diferentes metodos a partir de premisas y conclusiones</p>
                </div>
            </div>
        </a>
        <a class="crystal-panel hover-primary p-4">
            <div class="d-flex flex-row">
                <div class="d-flex align-items-center justify-content-center me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16"> <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/></svg>
                </div>
                <div class=" justify-content-center align-items-center">
                    <h1 class="fs-3 lh-1 fw-bold">En construccion</h1>
                    <p class="color-muted m-0"></p>
                </div>
            </div>
        </a>
        <a class="crystal-panel hover-primary p-4">
            <div class="d-flex flex-row">
                <div class="d-flex align-items-center justify-content-center me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16"> <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/></svg>
                </div>
                <div class=" justify-content-center align-items-center">
                    <h1 class="fs-3 lh-1 fw-bold">En construccion</h1>
                    <p class="color-muted m-0"></p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock content %}