{% extends "base.html" %}

{% block content %}
<div class="center-frame d-flex flex-row w-100">
    <div class="d-flex flex-wrap w-100 flex-column align-content-center justify-content-center">
        <div class="d-flex flex-wrap w-50 h-100 flex-column align-content-center justify-content-center">
        <div class="d-flex flex-column crystal-panel panel-card">
            <p class="color-primary sub mb-3 animate-pulse-glow">Logica y estructuras discretas</p>
            <h1 style="font-size: 3.5rem; line-height:1; font-weight:700;">
                Proyecto integrador Segunda entrega<br>
            </h1>
            <p class="color-muted fs-5 mt-3">
                Operaciones sobre conjuntos
            </p>
            <p class="fs-5 color-muted">Video <span class="color-primary">Demo</span> de presentacion para la segunda entrega del LyED Toolkit</p>
            <h3 class="color-primary sub fs-5">Integrantes</h3>
            <p class="color-muted fw-normal">
                Daira Guadalupe Murillo Garcia<br>Lucio Alejandro Nuñez Nuñez<br>Fernando Gonzalez Ruiz
            </p>
        </div>
    </div>
    </div>
</div>
{% endblock content %}